<%= form_for @book do |form| %>
  <div class="input-field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="input-field">
    <%= form.label :author_name %><br>
    <%= form.text_field :author_name %>
  </div>

  <div class="input-field">
    <%= form.label :image, 'Image URL' %><br>
    <%= form.text_field :image %>
  </div>
  
  <div class="input-field">
    <%= form.label :description %><br>
    <%= form.text_area :description, class: 'materialize-textarea' %>
  </div>

  <% if flash[:alert] %>
    <blockquote class="red-text red lighten-4 valign-wrapper">
      <i class="material-icons">warning</i>&nbsp;&nbsp;&nbsp;
      <span><%= flash[:alert] %></span>
    </blockquote>
  <% end %>

  <div class="center-align">
    <%= form.submit 'Save', class: 'btn-large' %>
  </div>
<% end %>