<h3>Welcome to BookSearch!</h3>
<p>Here's a list of our current selection of books.</p>

<%= render 'search' %>

<div class="row" id="book-list">
  <% @books.each do |book| %>
    <div class="col s12 m6 book-item" id="<%= book.title %>">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <% if book.image %>
            <img src="<%= book.image %>" class="circle" />
          <% else %>
            <%= image_tag('book.png', class: 'circle') %>
          <% end %>
          <span class="card-title pink-text text-accent-3"><%= book.title %></span>
          <p><i><%= book.author_name %></i></p>
          <p><b>Description:</b> <%= book.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
