<p>
  <% if user_signed_in? %>
    <%= link_to 'Dashboard', dashboard_path %> | 
    <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</p>
<h1>BookSearch</h1>
<p>Here you can see a list of books</p>
<% @books.each do |book| %>
  <h3><%= book.title %></h3>
  <ul>
    <li><b>Description:</b> <%=book.description %></li>
    <li><b>Author name:</b> <%= book.author_name %></li>
  </ul>
<% end %>