<h1>BookSearch</h1>
<p>Here you can see a list of books</p>

<%= render 'search' %>

<a onclick="order('crescent')">A-Z</a> | <a onclick="order('decrescent')">Z-A</a>

<div id="book-list">
  <% @books.each do |book| %>
    <div id="<%= book.title %>" class="book-item">
      <% if book.image %>
        <img src="<%= book.image %>" class="thumb" />
      <% else %>
        <%= image_tag('book.png', class: 'thumb') %>
      <% end %>
      <h3><%= book.title %></h3>
      <ul>
        <li><b>Description:</b> <%= book.description %></li>
        <li><b>Author name:</b> <%= book.author_name %></li>
      </ul>
    </div>
  <% end %>
</div>

<script>
  function sort_list(books, mode) {
    return Array.from(books).sort(function(a, b) {
      if (mode == 'crescent') { return (a.id > b.id ? 1 : -1); }
      return (a.id < b.id ? 1: -1);
    });
  };

  function order(mode) {
    let books = document.getElementsByClassName('book-item');
    const bookList = document.getElementById('book-list');

    books = sort_list(books, mode);

    bookList.innerHTML = ''
    books.forEach(function(book) { bookList.appendChild(book) });
  }
</script>