<!DOCTYPE html>
<html>
  <head>
    <title>BookSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended teal lighten-2" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="<%= root_path %>" class="brand-logo center"><i class="material-icons">library_books</i> BookSearch</a>
        <ul class="right hide-on-med-and-down">
          <%= render 'layouts/links' %>
        </ul>
      </div>
      <div class="nav-content hide-on-large-only">
        <div class="container">
          <ul>
            <%= render 'layouts/links' %>
          </ul>
        </div>
      </div>
    </nav>

    <main>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container row">
        <div class="col s12">
          <%= yield %>
        </div>
      </div>
    </div>
    </main>

    <footer class="page-footer pink accent-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Info</h5>
            <p class="grey-text text-lighten-4">
              This is an application built using Ruby on Rails and Materialize.<br>
              All information present on this page is ficticious and should not be taken seriously.<br>
              All book titles, authors, descriptions and images were provided by Faker.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">GitHub</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/l-mayumi/book-search">Repository</a></li>
              <li><a class="white-text" href="https://github.com/l-mayumi">Profile</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://twitter.com/_may1i">Twitter</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/in/leticiamhashizume/">Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center-align">
          Leticia Mayumi - 2021
        </div>
      </div>
    </footer>
  </body>
</html>
